.tableDiv, thead, tr, td, tbody, .terminDiv, .sviTerminiDiv
{
    border: 1px solid black;
}
.tableDiv, .trainingPar, .trainingDiv
{
    width: 50%;
}
.gornjiDiv
{
    display: flex;
    flex-direction: row;
}
.divRow
{
    display: flex;
    flex-direction: row;
}
.divCircle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.deleteSlika
{
    width: 50px;
    height: 50px;
}

.donjiDiv
{
    display: flex;
    flex-direction: column;
}
.sviTerminiDiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    
}
.terminDiv
{
    flex-basis: 150px;
    flex-grow: 0.6;
    flex-shrink: 0;
    margin: 2%;

}

