
/*placeholder for username and password*/
::placeholder 
{
    color: hsl(216, 47%, 40%);
    background-color: hsl(0, 0%, 100%);
}
/*inputs for username and password*/
input
{
    border-width: thin;
    padding: 0.3em;
    border-radius: 3vw;
    outline: none;
    border-color: black;
    height: 2vw;
    width: 15vw;
    font-size: 1.8vw;
    font-family: Raleway
    
}

/*hr*/
hr
{
    color:hsl(216, 47%, 40%);
    width: 95%;
    border-radius: 2px;
}

/* #region MainWindow*/ 
.slova-bigger
{
    font-size: 3vw;
    font-family: Raleway;
}
/*smaller letters*/
.slova-smaller
{
    font-size: 2vw;
    font-family: Raleway;

}
/*border around divs*/
.haveBorder 
{
    border: 2px solid hsl(216, 47%, 40%);
    border-radius: 3vw;
    margin: 2px;
}

/*mainWindow*/
.mainWindow
{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    position: relative;
}
/*welcome paragraphs*/
.shiftLeft
{
    padding-left: 15px;
    padding-top: 3p;
}

/*general settings for leftDiv and loginDiv*/
.leftDiv, .loginDiv
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*loginDiv child positioning */
.loginDiv 
{
    margin-left: 0%;
    align-items: center;
    
}
.loginDiv > * , .formLogin > *
{
    margin-bottom: 1vw;   
}

/*general for these divs*/
.headingDiv, .chooseGymDiv, .gymPicDiv
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

/*centering elements*/
.picturesDiv, .webSajtDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chooseGymDiv2
{
    display: flex;
    flex-direction: row;
}


.headingDiv
{
    display: flex;
    flex-direction: column;
}

p, .gymParagraph
{
    margin: 0%;
    padding-top: 1%;
    width: 100%;
    font-weight: normal;
}

.gymParagraph
{
    /*reduce the width of a paragraph*/
    width: 45%;
    
}
/*gym select general*/
.gymListSelect
{
    transition: 0.2s;
    border-radius: 15px;
    outline: none;      
    margin-left: 3vw;
    height: 100%;
    align-self: flex-end;
    padding: 0.2em;
    color: white;
    background-color: hsl(216, 47%, 40%);
    /* font-size: 100%; */
    font-size: 1.5vw;
}

/*paragraphs inside headingDiv*/
.headingDiv p, .workingHourPar
{
    width: 90%;
}

.gymPic
{
    width: 100%;
    height:fit-content;
    border-style : double;
    border-width: 0.5vw;
    border-color:  hsl(216, 47%, 40%);
    border-radius: 3vw;
}
/*buttons for changing picture*/
.btnDiv
{
    display: flex;
    align-self: center;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
}
.btnForPic
{
    transition: 0.2s;
    display: flex;
    border-radius: 50%;
    color: white;
    background-color: hsl(216, 47%, 40%);
    border: none;
    font-size: 2vw;
    padding: 2vw;
    height: 2vw;
    width: 2vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}
.btnForPic:hover, .loginBtn:hover, .gymListSelect:hover
{
    cursor: pointer;
    background-color: hsl(214, 93%, 17%);
}
.imageDiv
{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

/*loginBtn*/
.loginBtn 
{
    transition: 0.2s;
    height: 3vw;
    width: 10vw;
    border-radius: 3vw;
    border: none;
    color: white;
    background-color: hsl(216, 47%, 40%);
}


/*media screen less than 600 px*/
@media only screen and (max-width: 600px) {
    .mainWindow 
    {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        position: relative;
    }
        .slova-bigger
    {
        font-size: 5vw;
        font-family: Raleway;
    }
    /*smaller letters*/ 
    .slova-smaller
    {
        font-size: 4vw;
        font-family: Raleway;

    }
    .leftDiv, .loginDiv {
        width: 99%;
        margin: 2px auto;
    }
    input 
    {
        width: 20vw;
        height: 3vw;
        font-size: 3vw;
    }
    .loginDiv > *
    {
        margin-bottom: 3vw;   
    }
    .gymPic
    {
        width: 80%;
    }
    .btnForPic
    {
        padding: 4vw;
        font-size: 4vw;
    }
    .loginBtn
    {
        width: 15vh;
        height: 5vh;
        font-size: 3vh;
        align-items: center;
    }
}