body
{
   margin: 0%;
   border: 1px solid black;
   
}

/*#region Header */
.blueDiv
{
    background-color: #365C95;
    max-height: 110px;
    min-height: 110px;
    width: 100%;
}


/*tabela podesavanja*/

table
{
    /* border:1px solid black;
    border-collapse:  collapse; */
    table-layout: fixed;
    padding: 0%;
    margin: 0%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
}

td
{

    width: 100%;

}

/*podesavanja za celiju*/


.prvaCelija
{
    text-align: left;
}

.drugaCelija
{
    text-align: center;
}

.trecaCelija
{
    text-align: right;    
}

/*logo podesavanja*/
.logo
{
    max-height: 100px;
    min-height: 100px;
    margin: 0%;

}
 
/*dugmici podesavanja*/
.backArrowBtn, .logOutBtn, .profileBtn
{
    max-height: 50px;
    min-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}
/*#endregion Header*/









 
