/*mainWindow*/ 
.mainWindow 
{
    display: flex;
}
/*border*/
.haveBorder 
{
    border: 2px solid hsl(216, 47%, 40%);
    border-radius: 3vw;
    margin: 2px;
}
/*font*/
.slova-bigger
{
    font-size: 2em;
    font-family: Raleway;
}
/*smaller letters*/
.slova-smaller
{
    font-size: 1.5em;
    font-family: Raleway;

}
/*column with 1 3 1 */
.col1, .col3
{
    width: 30%;
}
/* .formTable, .formTbody, [class^="row"], [class^="col"]  
{
    border: 1px solid black;
    border-collapse: collapse;
} */

.icon
{
    width: 15%;
    height: auto;
    margin: 3%;    
  
}
/*profilePicture*/
.profileDiv
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profilePicture
{
    width: 15%;
    height: auto;
    margin-top: 0.5%;
    margin-bottom: 3%;
    border-radius: 50%;
}
/*hovering*/
.gymListSelect:hover, .btnDiv > button:hover
{
    cursor: pointer;
    background-color: hsl(214, 93%, 17%);
}
.editPicIcon:hover ,.icon:hover{
    cursor: pointer;
}

/*icoDivs*/
.editIconDiv
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;

}
.trashDiv
{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 100%;

}
/*infoDiv*/
.infoDiv, .passDiv
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-top: 0.5vh; */
    margin-bottom: 0.5vh;
    align-items: center;
}
/*inputs*/
.regInput, .passInput
{
    width: 50%;
    border-width: thin;
    padding: 5px;
    padding-left: 10px;
    border-radius: 3vw;
    outline: none;
    border-color: black;
    height: 2vw;
    
    font-family: Raleway
}
/*readonly colors*/
/* .usernameValue, .polLabelValue:read-write
{
    color: black;
} */
.regEditInputs:read-only
{
    color: hsl(0, 0%, 35%);
    border-color: hsl(0, 0%, 45%);
    border-style: solid;
    
}
.readOnly
{
    color: hsl(0, 0%, 35%);
}
/*gymSelect*/
.gymListSelect:enabled
{
    transition: 0.2s;
    border-radius: 3vw;
    outline: none;      
    height: auto;
    width: 50%;
    /* align-self: flex-end; */
    /* padding: 5px; */
    color: white;
    background-color: hsl(216, 47%, 40%);
    font-size: 1.2em;
    text-overflow: ellipsis;
}
.gymListSelect:disabled
{
    transition: 0.2s;
    border-radius: 3vw;
    outline: none;      
    height: auto;
    width: 50%;
    /* align-self: flex-end; */
    /* padding: 5px; */
    color: white;
    background-color: hsl(216, 47%, 40%);
    font-size: 1.2em;
    text-overflow: ellipsis;


}
/*usernameLabel*/
.usernameValue
{
    display: flex;
    align-self: flex-start;
}
/*btnDiv*/
.btnDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnDiv > button
{
    display: flex;
    flex-wrap: nowrap;
    /* font-size: 1.5em; */
    transition: 0.2s;
    padding: 0.5vw;
    height: 100%;
    width: 15vw;
    border-radius: 3vw;
    border: none;
    color: white;
    margin-bottom: 0.5vh;
    margin-top: 3vh;
    background-color: hsl(216, 47%, 40%);
    align-items: center;
    align-content: center;
    justify-content: center;

}
/*media query*/
@media screen and (max-width : 850px) {
    .icon
    {
        width: 23%;
        height: auto;
    }
    .profilePicture
    {
        width: 20%;
    }
}
@media screen and (max-width: 600px) {
    .profilePicture
    {
        width: 25%;
    }
    /* .regInput
    {
        width: 40%;
    } */
    .col1, .col3 
    {
        width: 10%;
    }
    .icon
    {
        width: 60%;
    }
    .slova-smaller
    {
        font-size: 1.2em;
    }
    .slova-bigger
    {
        font-size: 1.5em;
    } 
    
}
@media screen and (max-width: 425px) {
    .icon 
    {
        width: 100%;
    }
    .btnDiv > button
    {
        width: 35%;
        padding: 1%;
        text-align: center;
    }
    
}



